.fi-topbar-item .fi-topbar-item-btn {
    @apply rounded-full px-4;
}

.fi-topbar-item.fi-active .fi-topbar-item-btn {
    @apply bg-primary-400 dark:bg-primary-600 shadow-sm;
}

.fi-topbar-item.fi-active .fi-topbar-item-label,
.fi-topbar-item.fi-active .fi-topbar-item-icon {
    @apply text-gray-900/75 dark:text-white;
}

.fi-topbar-item.fi-active .fi-topbar-item-badge-ctn .fi-badge {
    @apply bg-white text-gray-900 dark:bg-gray-900/75 dark:text-white;
}

.fi-topbar-item.fi-active .fi-topbar-group-toggle-icon {
    @apply text-gray-900/75 dark:text-white;
}

/* TODO: Implement this */
.fi-topbar-group-dropdown-trigger-btn {
    @apply rounded-3xl;
}
